@charset "UTF-8";

	main{
	margin: 60px 15%;
	min-height: 62%;
	height: auto;
	display: flex;
	}
	
	section {
		flex: 5;
		height: auto;
	}
	
	section{
		margin: 0;
	}
	
	aside {
	    flex: 1;
	    height: auto;
	    position: relative;
	    text-align:center;
	}
	
	aside a {
		text-decoration: none;
		color: black;
		font-size: 10px; 
		font-weight: bold;
	}
	
	aside h2{
	    padding: 8px 12px; /* 마우스 선택영역이 넓어짐 */
	}