@charset "UTF-8";

 #sectionTitle{
    	font-weight: bolder;
    	font-size: 30px;
    	margin-left: -100px;
    }
    
    #productOderhr{ 
    	border: solid 4px rgb(157, 214, 94);
    	width: 180px;
    	margin-top: -15px;
    	margin-left: -114px; 
   	}
   	
   
   	#orderDiv{	/* 요소 전체다이브 */	
   		width: 1200px; 
/*    		height: 1200px;  */
   		margin:auto;
   		margin-top: 50px; 
   		margin-bottom: 50px;
   	}
   	
   
   	#orderDiv table{	/* 전체 table설정 */
   	 width: 1000px; height: 140px;
     border-collapse: collapse;/* 선 여백 없애기 */ 
     border-top: 1px solid rgb(127, 127, 127);
     border-bottom: 1px solid rgb(127, 127, 127);
     margin: auto;	
   	}
   	
	
	.title{/* table 제목 부분 */
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		width: 120px; height: 50px;
		background: rgba(153, 203, 56, 0.5);
		border-bottom: 1px solid rgb(127, 127, 127);
	}

	.content{/* table 내용 부분 */
		font-size: 16px;
		margin-left: 20px;
		border-bottom: 1px solid rgb(127, 127, 127);
		padding-left: 20px;
	}
	
	.content input[type=text]{
		font-size: 16px;
	}
	
	#payInfo td{
		height: 80px;
	}
	
   	#totalPay{
   		 border-top: 2px solid rgb(127, 127, 127);
   	}
   	
   	#totalPay td {
   		 height: 100px;
   	}
   	
   	#totalPay input[type=text]{
		font-size: 18px;
	}
   	
	.orderText{/* 주문정보 출력란 */
		width: 300px;
		height: 30px;
	}	
	
	.addressText{/* 받는사람 정보 출력란 */
		width: 300px;
		height: 30px;
	}
   	
   #orderDiv p{
   	  font-weight: bold;
   	  font-size: 26px;
   	  margin: 50px 0px 5px 100px;
   	}
   	
   	.address_Btn{/* 받는사람 정보 수정 버튼 */
   		width: 120px; height: 30px;
   		margin: 0px 0px 5px 10px;
   		border-radius: 5px;
   		background: rgb(153, 203, 56);
  		cursor: pointer;	
  		font-weight: bold;
   	}
   	
   	#message{
   		margin: 40px 0px 50px 330px;
   		text-align: center;
   	}
   	
   	#cancleBtn, #submitBtn{
   		display: inline-block;
   		border: none;
   		border-radius:5px;
   		background: rgb(99, 165, 55);
   		color: white;
   		width: 200px; height: 50px;
   		cursor: pointer;
   		font-size: 22px;
   		margin-top: 40px; margin-left: 100px;
   	}
   	
   	#cancleBtn{
   		margin-left: 340px;
   		background: rgb(193, 223, 135);
   	}