@charset "UTF-8";

body {
	color: #999;
}

.form-control {
	border-color: #eee; /* 텍스트 박스 테두리 색깔 */
	min-height: 41px; /* 텍스트 박스에 대한 최소 높이 */
	box-shadow: none !important; /* 위의 style 링크로부터 적용돼있는 box-shadow를 없앰 */
}

.form-control:focus {
	border-color: #C1DF87; /* 텍스트 박스를 클릭했을 때 테두리 색깔 */
}

.form-control, .btn {
	border-radius: 3px; /* 취소, 회원가입 버튼 모서리 둥근 정도 */
}

.signup-form {
	width: 600px; /* 회원가입 폼의 넓이 */
	margin: 0 auto; /* 폼을 가운데 있게 함 */
	padding: 100px 0; /* 폼 패딩 */
}

.signup-form h2 {
	color: #333; /* '회원정보입력'의 색깔 */
	margin: 30px;
	padding: 30px;
}

.signup-form form {
	padding: 30px;
}

.signup-form .form-group row {
	margin-bottom: 20px;
}

.signup-form label {
	font-weight: normal;
	font-size: 14px;
	line-height: 2; /* 인라인 박스의 높이 */
}

.signup-form input[type="checkbox"] {
	position: relative;
	top: 1px;
}

.signup-form .btn { /* 취소, 회원가입 버튼에 관한 것들 */
	font-size: 16px;
	background: #63A537; /* 버튼 배경 색 */
	border: none; /* 위의 style 링크에서 가져온 버튼 디자인을 변경. 테두리의 파란선을 없앰 */
	margin-top: 20px;
	margin-left: 20px;
	min-width: 140px; /* 버튼의 최소 넓이. 글자 수가 적어도 버튼 넓이가 작아지지 않도록 함 */
}

.signup-form .btn:hover, .signup-form .btn:focus {
	background: #C1DF87;
	
	outline: none !important;
}

.signup-form a {
	color: #5cd3b4;
	text-decoration: underline;
}

.signup-form a:hover {
	text-decoration: none;
}

.signup-form form a {
	color: #5cd3b4;
	text-decoration: none;
}

.signup-form form a:hover {
	text-decoration: underline;
}

input.form-control {
	background:
}

.col-8 {
	margin: 0px auto;
}