@charset "UTF-8";
section{
		height: auto;
		margin: 0px 10%;
	}

	.flex_div{
		display: flex;
		margin: 0px 2%;
		text-align: center;
	}
	#flex_div_title{
		font-size: 16px;
		font-weight: bolder;
	}
	.hrDiv{
		margin: 0px 2%;
	}
	.flex_div_2{
		flex:  2;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.flex_div_2_p{
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: center;
	}
	.flex_div_3{
		flex:  4;
	}
	.flex_div_4{
		flex: 1.5;
	}
	.flex_div_5{
		flex: 1.5;
	}
	.cancleBtn{
		width: 50%;
		height: 40px;
		border: none;
		background: rgb(68, 193, 163);
	}
	.finishBtn{
		width: 50%;
		height: 40px;
		border: none;
		color: black;
	}
	
	#askedTitle{
	cursor: pointer;
	}
	
	#answerOk{
	 background-color: yellowgreen;
	 border-radius: 5px;
	 font-size: medium;
	 text-align: center;
	 font-weight: bolder;
	 width: 100px; height: 23px;
	 margin-left: 40px;
	}
