@charset "UTF-8";

main{
	margin: 60px 15%;
	min-height: 62%;
	height: auto;
	display: flex;
}
section {
	flex: 5;
	height: auto;
}
aside {
    flex: 1;
    height: auto;
    position: relative;
    text-align:center;
}
aside a {
	text-decoration: none;
	color: black;
	font-size: 10px; 
	font-weight: bold;
}

aside h2{
    padding: 8px 12px; /* 마우스 선택영역이 넓어짐 */
}
/* 		 #userPwd{ */
/* 		        border-radius: 4px; */
/* 		        margin-left: 20px; */
/* 		        font-size: 16px; */
/* 		} */
table{
	border-spacing: 15px;
   	margin : 0 auto;
}
   	.centerText{
   width: 690px;
   padding: 5% 10%;
   margin : 0 auto;
   text-align: center;
   /* margin-top: 10%; */
   background-color: rgb(248, 248, 248); ;
}
#submitBtn{
	display: inline-block;
	border: none;
	border-radius:5px;
	background: rgb(99, 165, 55);
	color: white;
	width: 150px; height: 50px;
	cursor: pointer;
	font-size: 20px;
	margin-top: 40px; margin-left: 20px;
}
.btn_box{
   	text-align: center;
   	margin: 20px auto;
  	}  
.text_box{
   height: 40px;
   width: 200px;
}