@charset "UTF-8";
    
    /*  화면에 녹색 줄 */
	.greenDiv{
		height : 4px;
		width: 100%;
		background : rgb(99, 165, 55);
		border-radius: 10px;
		margin-top: -10px;
	}
	
	/* 폼안에 제일 큰 div */
	#formDiv{
		margin: 0px 5%;
	}
	
	/* 봉사활동명 */
	#bTitleStrong{
		font-size: 30px;
	}
	#vTitle{
		width: 500px;
		height: 50px;
	}

	/*  화면에 연두색 줄 */
	.yellowGreenDiv{
		height : 4px;
		width : 100%;
		background : rgb(193, 223, 135);
		border-radius: 10px;
	}
	
	.whiteDiv{
		height: 3px;
		width: 100%;
		background: white;
	}
	
	.vInfomation{
		display: flex;
		border: 1px solid rgb(224, 224, 224);
	}
	
	.vInfoTitle{
		flex: 4;
		text-align: center;
		background: rgb(224, 224, 224);
		font-size: 16px;
		height: 45px;
		line-height: 40px;
	}
	
	.vInfoContent{
		flex: 6;
		text-align: center;
		line-height: 40px;
	}
	.vInfoContentInput{
		width: 100%;
		height: 100%;
	}
	
	/* 봉사활동 장소 */
	#vInfoTitle2{
		flex: 2;
		text-align: center;
		background: rgb(224, 224, 224);
		font-size: 16px;
		height: 80px;
		line-height: 80px;
	}
	#vInfoContent2{
		flex: 8;
	}
	
	/* 활동내용+지도api */
	#vInfoDiv{
		width: 100%;
		height: 410px;
		display: flex;
	}
    
    /* 활동내용 입력란 */
    #vContent{
		flex:6;
    }
    #vContentTextarea{
    	width: 90%;
    	height: 90%;
    	resize: none;
    	padding: 10px 10px 10px 10px;
    }
    /* 주소 검색 div */
    #searchAddress{
    	height: 40px;
    	line-height: 40px;
		margin-left: 27px;
		
    }
    /* 상세주소 div */
    #detailAddress{
		height: 40px;
		line-height: 40px;
		margin-left: 27px;
    }
    .tableContent{
    	height: 30px;
    	width: 835px;
    }
    #detailText{
    	margin-left: 12px;
    }
    
    /* 주소 검색버튼 */
    #searchBtn{
    	background: rgb(224, 224, 224);
    	border: 1px solid black;
    	font-size: 16px;
    	height: 30px;
    	border-radius: 5px;
    }
    
    /*  지도 api */
    #mapApi{
    	flex:4;
    	width: 100%;
    	height: 95%;
    }
    
    
    .responInfo{
    	height: 25px;
    }
    
    .addBtn{
    	color : white;
    	background : rgb(193, 223, 135);
    	border: none;
    	width : 70px;
    	height: 40px;
    	font-size: 16px;
    	font-weight: bold;
		border-radius: 10px;
    }
    #preNext{
		display: flex;
		height : 120px;
		width: 100%;
	}
	.preNextDiv{
		height: 100px;
	}
	#pnd_1{
		flex:4.5;
		float:right;
		width: 300px;
	}
	#pnd_1_1{
		float:right;
		width: 300px;
	  	text-align: right;
	  	height: 100%;
	}
	#pnd_1_1 p{
		  overflow: hidden;
		  text-overflow: ellipsis;
		  white-space: nowrap;
		  width: 300px;
	}
	#pnd_2{
		flex:1;
		text-align: center;
	}
	#listBack{
		margin-top: 20px;
		width: 100px;
		height: 50px;
	}
	#pnd_3{
		flex:4.5;
		text-align: left;
	}
	#pnd_3_1{
		float:left;
		width: 300px;
	  	text-align: left;
	  	height: 100%;
	}
	#pnd_3_1 p{
		  overflow: hidden;
		  text-overflow: ellipsis;
		  white-space: nowrap;
		  width: 300px;
	}
    .userBtn{
        color : white;
    	background : rgb(193, 223, 135);
    	border: none;
    	width : 90px;
    	height: 40px;
    	font-size: 16px;
    	font-weight: bold;
		border-radius: 10px;
    }
    .adminBtn{
        color : white;
    	background : rgb(193, 223, 135);
    	border: none;
    	width : 90px;
    	height: 40px;
    	font-size: 16px;
    	font-weight: bold;
		border-radius: 10px;
    }
    #deleteBtn{
    	background: #df0000;
    }
    #cancleBtn{
    	background : #df0000;
    }
    #finishBtn{
    	background: rgb(190, 190, 190);
    }
