@charset "UTF-8";
	#serarchDiv{
		text-align: center;
		height: 100px;
	}

	/* 검색결과 봉사활동 리스트 큰 div */
	#dataDiv{
		margin: 0px 10%;
		height: 1000px;
	}
	/*  화면에 연두색 줄 */
	.yellowGreenDiv{
		height : 4px;
		width : 100%;
		background : rgb(193, 223, 135);
		border-radius: 10px;
	}
	/* 리스트 큰 div */
	.dataList{
		margin: 0px 10%;
		height: 110px;
		display: flex;
		cursor: pointer;
	}
		/* 위치 */
	.data1{
		flex: 1;
		text-align: center;
		line-height: 100px;
	}
	.data1 strong{
		font-size: 20px;
		font-weight: bolder;
	}
	.data2{
		flex: 7.5;
	}
	.data2_div{
		display: flex;
		height: 50px;
	}
	.data2_div1{
		flex: 3.5;
	}
	.data2_div2{
		flex: 5;
	}
	.data2_div3{
		flex: 1.5;
	}
	
	.data3{
		flex: 1.5;
	}
	.data3_div{
		border-radius : 8px;
		background : rgb(193, 223, 135);
		color : white;
		text-align: center;
		font-weight:bold;
		width: 80px;
		height: 80px;
		margin: 20px;
		line-height: 38px;
	}
	
	#searchBtn{
		background:rgb(99, 165, 55); 
		font-weight:bolder;
		color:white;
		font-size: 18px;
		border: none;
		border-radius: 5px;
		width: 80px;
		height: 30px;
	}
	
	#keywordInput{
		width: 250px;
		height: 31px;
	}
	#reviewAdd{
		background: rgb(184, 231, 252);
		height: 30px;
		border: none;
		border-radius: 5px;
	}
	
		
    .pagination{				/* 페이징 버튼 영역 */
    	margin: 50px 0 0 38%;
    	text-align: center;
    	line-height: 3;
    	height: 100px;
    	display: block;
    }
    
    .page, .prev_btn, .next_btn{		/* 페이징 버튼 */
    	float: left;
    	text-decoration: none;
    	width: 38px;
    	height: 38px;
    	line-height: 38px;
    	padding: 0px 10px 0px 10px;
    	font-size: 18px;
    	color: black;
    	border : 1px solid #d9d9d9;
    	background: #fff;
    	vertical-align: text-top;
    	margin-right: -1px;
    }
    
    .prev_btn{
    	border-radius: 17px 0 0 17px;
    }
    
    .next_btn{
    	margin-left: -1px;
    	border-radius: 0 17px 17px 0;
    }
    
    .finishVolunteerBtn{
    	border-radius : 8px;
		color : white;
		text-align: center;
		font-weight:bold;
		width: 80px;
		height: 40px;
		margin: 35px;
		line-height: 35px;
    	background: rgb(190, 190, 190);
    }
    
    #emptySpan{
    	font-size: 18px;
    }
	