<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- 	 <welcome-file-list> -->
<!--         <welcome-file>/WEB-INF/views/home.jsp</welcome-file> -->
<!--     </welcome-file-list> -->
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:root-context.xml
			/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- 웹소켓2 web.xml -->
	<!-- 클라이언트가 여러개일 경우 동시에 데이터를 처리 할 수 있게  '<async-supported>true</async-supported>'를 추가한다 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.jpeg</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.PNG</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.JPG</url-pattern>
	</servlet-mapping>

	<!-- 회원 관련 -->
	<servlet>
		<servlet-name>memberServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/member-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberServlet</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	
	<!-- 상품판매 관련 -->
	<servlet>
		<servlet-name>productServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/product-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>productServlet</servlet-name>
		<url-pattern>*.po</url-pattern>
	</servlet-mapping>
	
	<!-- 자주묻는 게시판 관련 -->
	<servlet>
		<servlet-name>questionServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/question-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>questionServlet</servlet-name>
		<url-pattern>*.qo</url-pattern>
	</servlet-mapping>	
	
	<!-- 문의사항게시판 관련 : 영실 -->	
	<servlet>
		<servlet-name>askedServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/asked-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>askedServlet</servlet-name>
		<url-pattern>*.ao</url-pattern>
	</servlet-mapping>	

	<!-- 물품 나눔 게시판 관련 -->
	<servlet>
		<servlet-name>sharesServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/appServlet/shares-context.xml
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>sharesServlet</servlet-name>
		<url-pattern>*.sh</url-pattern>
	</servlet-mapping>

	<!-- 봉사활동 게시판 관련 : 다정 -->
	<servlet>
		<servlet-name>volunteerServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/appServlet/volunteer-context.xml
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>volunteerServlet</servlet-name>
		<url-pattern>*.vo</url-pattern>
	</servlet-mapping>
	
	<!-- Board 관련 -->
	<servlet>
		<servlet-name>boardServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/board-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardServlet</servlet-name>
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>
	
	<!-- Alarm 관련 -->
	<servlet>
		<servlet-name>alarmServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/alarm-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>alarmServlet</servlet-name>
		<url-pattern>*.al</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 공용 에러 페이지 등록 -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/views/common/errorPage.jsp</location>
	</error-page>
	
</web-app>
